@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-icon {
    mask: url('/icon/home.svg') no-repeat center;
    -webkit-mask: url('/icon/home.svg') no-repeat center;
}


/* Hide scrollbar (YouTube style) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}


/* Hide scrollbar but keep scroll */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}
